.btn-title{
  width: 100%;
  background-color: #0f3057;
  padding:4px 35px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-title a{
  color: #fff;
}

.btn-add{
  border-radius: 20px;
  padding: 5px 25px;
  background-color: #008891;
}

.btn-add a{
  color: #fff;
}

.btn{
  padding: 5px 25px;
  background-color: #0f3057;
}

.btn a{
  color: #fff;
}


.btn-delete{
  padding: 5px 25px;
  background-color: #91091e;
}

.btn-delete a{
  color: #fff;
}
