<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static01.nyt.com/images/2013/10/03/obituaries/CLANCY-refer/CLANCY-refer-superJumbo.jpg);">
  <div class="container">
    <h1>My Bookshelf</h1>
    <p>My collection of Tom Clancy's book and much more.</p>
  </div>
</div>

<div class="container book-display">
  <div class="book-box">
    <% @books.each do |book| %>
      <% if book.author != "" %>
        <div class="book-style">
        <img src="<%= book.cover %>" >
        <%= link_to book.title,   book_path(book.id) %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<%= link_to "Add new book", new_book_path %>
</div>
