<h1>Livros</h1>

<div class="container book-display">
  <div class="book-box">
    <% @books.each do |book| %>
     <div class="book-style">
     <img src="<%= book.cover %>" >
     <%= link_to book.title,   book_path(book.id) %>
    </div>
    <% end %>
  </div>
</div>

<div>
<%= link_to "Add new book", new_book_path %>
</div>
